<!-- Footer -->
<%= content_tag (:div), :class => "footer" do %>
    <%= content_tag (:div), :class => "container" do %>
        <%= content_tag (:p), :class => "pull-left" do %>
            <a id="modal_trigger" href="#modal" >Click here to Login or register</a>
            <%#= link_to("www.vtrkanna.wordpress.com", "http://vtrkanna@wordpress.com", :target => "_blank") %>
        <% end %>
        <%= content_tag (:p), :class => "pull-right" do %>
            <a href="#myModal" role="button" data-toggle="modal"> <i class="icon-mail"></i>
              CONTACT</a>
        <% end %>
    <% end %>
<% end %>
<!-- Contact form in Modal -->

<!--Login popup-->

<div id="modal" class="popupContainer" style="display:none;">
  <header class="popupHeader">
    <span class="header_title">Login</span>
    <span class="modal_close"><i class="fa fa-times"></i></span>
  </header>

  <section class="popupBody">
    <! -- Here Goes all the Login and signup Forms -->
    <div class="social_login">
      <div class="clearfix">
        <a class="social_box fb" href="/auth/facebook" id="sign_in">
          <span class="icon"><i class="fa fa-facebook"></i></span>
          <span class="icon_title">Connect with Facebook</span>
        </a>
        <a class="social_box google" href="#">
          <span class="icon"><i class="fa fa-google-plus"></i></span>
          <span class= "icon_title">Connect with Google</span>
        </a>
      </div>

      <div class="centeredText">
        <span>Or use your Email address</span>
      </div>

      <div class="action_btns">
        <div class="one_half">
          <a class="btn" href="#" id="login_form" name="login_form">Login</a>
        </div>

        <div class="one_half last">
          <a class="btn" href="#" id="register_form" name= "register_form">Sign up</a>
        </div>
      </div>
    </div>

    <div class="user_login">
      <form>
        <label>Email / Username</label> <input type="text"><br>
        <label>Password</label> <input type="password"><br>

        <div class="checkbox">
          <input id="remember" type="checkbox"> <label for=
                                                               "remember">Remember me on this computer</label>
        </div>

        <div class="action_btns">
          <div class="one_half">
            <a class="btn back_btn" href="#">Back</a>
          </div>

          <div class="one_half last">
            <a class="btn btn_red" href="#">Login</a>
          </div>
        </div>
      </form>

      <a class="forgot_password" href="#">Forgot password?</a>
    </div>

    <div class="user_register">
      <form>
        <label>Full Name</label> <input type="text"><br>
        <label>Email Address</label> <input type="email"><br>
        <label>Password</label> <input type="password"><br>

        <div class="checkbox">
          <input id="send_updates" type="checkbox"> <label for=
                                                                   "send_updates">Send me occasional email
          updates</label>
        </div>

        <div class="action_btns">
          <div class="one_half">
            <a class="btn back_btn" href="#">Back</a>
          </div>

          <div class="one_half last">
            <a class="btn btn_red" href="#">Register</a>
          </div>
        </div>
      </form>
    </div>

    <!--Modal Container (Popup Box)-->

    <script type="text/javascript">
        $("#modal_trigger").leanModal({top: 200, overlay: 0.6, closeButton: ".modal_close" });

        $(function () {
            // Calling Login Form
            $("#login_form").click(function () {
                $(".social_login").hide();
                $(".user_login").show();
                return false;
            });

            // Calling Register Form
            $("#register_form").click(function () {
                $(".social_login").hide();
                $(".user_register").show();
                $(".header_title").text('Register');
                return false;
            });

            // Going back to Social Forms
            $(".back_btn").click(function () {
                $(".user_login").hide();
                $(".user_register").hide();
                $(".social_login").show();
                $(".header_title").text('Login');
                return false;
            });

        })

    </script>

    <! -- Here Goes all the Login and signup Forms -->
  </section>
</div>

<!--Login popup-->
<script src="http://code.jquery.com/jquery.js"></script>
<script>
    $('#myModal').modal('hidden')
</script>